@media screen and (max-width:885px) {
 
    .big_card_title > h1 {
        margin-top: 15px;
        font-size: 20px;
    }
    .big_card_photo > img {
        width: 100%;
        min-width: 300px;
        
    }
    .big_card_description > p > a{
        color: grey;
        font-size: 10px;
    }
}