
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
        Id="1"
        photoCover="https://th.bing.com/th/id/OIP.ml6wO4MtnTc5pEuogZGl4QHaEo?pid=ImgDet&rs=1"
        cardTitle="Venha conhecer o Studio Ghibli"
        cardDescription="Studio Ghibli Inc. é estúdio de cinema de animação japonês com sede em Koganei, Tóquio.  O estúdio é mais conhecido por seus filmes de animação e também produziu vários curtas, comerciais de televisão e um filme de televisão. Foi fundado em 15 de junho de 1985 pelos diretores Hayao Miyazaki e Isao Takahata e pelo produtor Toshio Suzuki , após o sucesso do filme de anime de Topcraft, Nausicaä do Vale do Vento(1984) e em seguida a compra da Topcraft."
        >            
        </app-big-card>
        
        
        
    </div>
    <div class="articles_others">
        <app-small-card
        Id="2"
        photoCover="https://image.tmdb.org/t/p/original/iuFbU5jiNh8DAxLBGifZCvv3KmB.jpg"
        cardTitle="O Castelo Animado - Hauru no Ugoku Shiro"></app-small-card>
        <app-small-card
        Id="3"
        photoCover="https://th.bing.com/th/id/R.2a591a6259b620a7cde3a171bcd5f586?rik=TKgyGMi2b7szGg&pid=ImgRaw&r=0"
        cardTitle="A Viagem de Chihiro - Sen to Chihiro no Kamikakushi"></app-small-card>
        <app-small-card
        Id="4"
        photoCover="https://th.bing.com/th/id/R.b34d22cc8698f160aab58e7ec8f47fd1?rik=zgaDyTcBGNHJaA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-qFaEC-JG_nc%2fUUQAFdaPUgI%2fAAAAAAAAFK8%2fNZQknIprNds%2fs1600%2fMy%2bNeighbor%2bTotoro%2b4.jpg&ehk=nwLxRMphJLQPxlogBUbyendCZgwXXQe0GL%2fssRK1I3E%3d&risl=&pid=ImgRaw&r=0"
        cardTitle="Meu Amigo Totoro - Tonari no Totoro"></app-small-card>
        
    </div>
</div>